* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 1px solid gray;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #19323c;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
body {
  color: #151e3f;
}
.container {
  width: 80%;
  margin: 1% auto;
}
header {
  display: flex;
  justify-content: center;
}
header .nav-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.6rem;
  padding: 2% 0;
}
header .nav-links a {
  color: #030027;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2%;
}
header .nav-links a:hover {
  color: #07005a;
  border-bottom: 0.2rem solid #07005a;
}
.hero-section {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.hero-section .hero-image-container {
  width: 60%;
  padding: 2%;
}
.hero-section .hero-image-container img {
  border-radius: 50%;
  align-items: center;
}
.hero-section .text-container {
  width: 40%;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero-section .text-container button {
  padding: 5% 2%;
  width: 100%;
  font-size: 1.8rem;
  background-color: #151e3f;
  color: #fff;
  border-radius: 1rem;
}
.hero-section .text-container button:hover {
  background-color: #2f428c;
}
